body{
    height: 97vh;
    background-color: papayawhip;
    background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%)); 
    display:flex;
    justify-content: center;
    align-items:center;    
}
#conteiner{
    max-width: 700px;
    height: 450px;       
    box-sizing: border-box;
}
#conText{
    width: 55%;
    height: 450px;
    float:left;
    background-image: url(../patters/images/bg-pattern-desktop.svg), linear-gradient(hsl(0, 0%, 100%, 0.90), hsl(0, 100%, 98%, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
     }
#text{
    margin:70px;
    margin-top: 0px;
    font-family:'Josefin Sans';
    font-size: 16px;
    letter-spacing: 1.2;
}
#icon{
    width: 90px;
    margin-top: 20px;
    margin-bottom: 35px;
}
h1{
    font-size: 45px;
}
p{
    font-size: 12px;
}

#submit{
    width: 50px;
    height: 35px;
    background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));     
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-color: hsl(0, 80%, 86%);
    border-radius: 20px;  
    margin-left: -45px;
    margin-top: 20px;
    float: left;     
}
#icon2{
    margin-top: 25px;
    margin-left: -24px;
    width: 9px;
    float: left;
}
#photo{
    width:45%;
    height: 450px;
    background-image: url(../patters/images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.email{
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    width: 230px;
    height: 30px;
    float: left;
    margin-top: 20px;    
}
.erro{

    border-radius: 15px;
    border-color: red;
    border-width: 2px;
    width: 230px;
    height: 30px;
    float: left;
    margin-top: 20px;   
      
}

